
<div class="">
  <div class="row">
   <div class="col-12">
     <nav class="navbar navbar-expand-md navbar-dark bg-primary " >
       <button type="button" class="btn btn-secondary " (click)="setSelectNav(1)">Libros Leidos</button>
       <button type="button" class="btn btn-success" (click)="setSelectNav(2)">Libros Recomendados</button>
     </nav>
   </div>
  </div>
  <br>
  <br>
  <!-- -----------------------libros leidos---------------------------------------------- -->
  <div *ngIf="getSelectNav() == 1" class="row">
    <div class="col">
      <div>Inserta tu ID como usuario:</div>

      <div>
        <form #createCursoForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="obtenerLibrosLeidos()">
          <input class="form-control mr-sm-2" type="text" name="presupuserIDuesto"
                placeholder="ID" required [(ngModel)]="user.userID">

          <button [disabled]="!createCursoForm.valid" class="btn btn-outline-success my-2 my-sm-0" type="submit">Insertar</button>
        </form>
        <div *ngIf="getUSer()">Esto es lo que has leido y te ha encantado:</div>
      </div>

    </div>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-6">
          <ul class="list-group" *ngFor="let item of librosLeidos">
            <li class="list-group-item">{{item.nombre}}</li>
          </ul>
        </div>

      </div>
    </div>

</div>

      <!-- -----------------------libros recomendados---------------------------------------------- -->
      <div *ngIf="getSelectNav() == 2" class="row">
        <div class="col">
          <div>Inserta tu ID como usuario:</div>

          <div>
            <form #createCursoForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="obtenerLibrosRecomendados()">
              <input class="form-control mr-sm-2" type="text" name="presupuesto"
                    placeholder="ID" required [(ngModel)]="user.userID">

              <button [disabled]="!createCursoForm.valid" class="btn btn-outline-success my-2 my-sm-0" type="submit">Insertar</button>
            </form>
            <div *ngIf="getUSer()">En base a lo que has leido te recomendamos:</div>
          </div>

        </div>

        <br>
        <div class="container">
          <div class="row">
            <div class="col-6">
              <ul class="list-group" *ngFor="let item of librosRecomendados">
                <li class="list-group-item"> {{item.nombre}}</li>
              </ul>
            </div>

          </div>
        </div>

      </div>
